<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AngularJS Notes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="{{url_for("static", filename="script.js")}}"></script>
  </head>
  <body>
    <h2>Notes</h2>
    <div ng-app="notesApp">
      <note-list label-text="New note:"></note-list>
    </div>
  </body>
</html>
